body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 250px;
    background-color: crimson;
}

h1 {
    font-weight: bolder;
    font-family: Arial;
    font-size: 3rem;
    color: black;
}

button {
    width: 150px;
    height: 40px;
    border: 4px;
    border-radius: 15px;
    border-style: solid;
    font-size: large;
    font-family: Arial;
    font-weight: 600;
}